KCC.PROMOTION/Service References/MerchAppManager/Portal3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.32.178/MerchAppManager/Portal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" />
  <xs:element name="GetAllAppTranRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="credential" nillable="true" type="q1:ConnectionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAppTranRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllAppTranRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppTranRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="credential" nillable="true" type="q2:ConnectionModel" />
        <xs:element minOccurs="0" name="appId" type="xs:int" />
        <xs:element minOccurs="0" name="tranNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppTranRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAppTranRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmAppTranRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="credential" nillable="true" type="q3:ConnectionModel" />
        <xs:element minOccurs="0" name="appId" type="xs:int" />
        <xs:element minOccurs="0" name="tranNo" type="xs:int" />
        <xs:element minOccurs="0" name="pinCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmAppTranRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmAppTranRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAutoEmailLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="credential" nillable="true" type="q4:ConnectionModel" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="autoEmailModel" nillable="true" type="q5:AutoEmailModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAutoEmailLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAutoEmailLogsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyAutoEmailLogStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="credential" nillable="true" type="q6:ConnectionModel" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="autoEmailModel" nillable="true" type="q7:AutoEmailModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyAutoEmailLogStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyAutoEmailLogStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOutTownModeApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="credential" nillable="true" type="q8:ConnectionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOutTownModeAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllOutTownModeAppResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutTownModeApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="credential" nillable="true" type="q9:ConnectionModel" />
        <xs:element minOccurs="0" name="appId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutTownModeAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOutTownModeAppResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOutTownMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="credential" nillable="true" type="q10:ConnectionModel" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="outTownModel" nillable="true" type="q11:OutTownModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOutTownModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOutTownModeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyOutTownMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="credential" nillable="true" type="q12:ConnectionModel" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="outTownModel" nillable="true" type="q13:OutTownModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyOutTownModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyOutTownModeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="credential" nillable="true" type="q14:ConnectionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllApplicationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="credential" nillable="true" type="q15:ConnectionModel" />
        <xs:element minOccurs="0" name="appId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApplicationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserAccessResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="credential" nillable="true" type="q16:ConnectionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllUsersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="credential" nillable="true" type="q17:ConnectionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllActiveUsersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="credential" nillable="true" type="q18:ConnectionModel" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="userModel" nillable="true" type="q19:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="credential" nillable="true" type="q20:ConnectionModel" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="userModel" nillable="true" type="q21:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatabaseDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/KCC.Merch.AppManager.Core.Model" minOccurs="0" name="credential" nillable="true" type="q22:ConnectionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatabaseDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDatabaseDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>